In [26]:
print("\n"+ "="*55)
print("\n1. Imports and Setup")
print("\n"+ "="*55)

=======================================================

1. Imports and Setup

=======================================================

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from IPython.display import display

from sklearn.preprocessing import OneHotEncoder, LabelEncoder

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import RobustScaler

from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score

import warnings
warnings.filterwarnings("ignore")

In [25]:
print("\n"+ "="*55)
print("\n2. Load and Explore Dataset")
print("\n"+ "="*55)

=======================================================

2. Load and Explore Dataset

=======================================================

In [2]:
try:
    df = pd.read_csv('/kaggle/input/agriculture-and-farming-dataset/agriculture_dataset.csv')
    print("✅ Data loaded successfully!")
except FileNotFoundError:
    print("❌ File not found. Please check the file path.")
except pd.errors.ParserError:
    print("❌ Error parsing the CSV file. Please check the file format.")
except Exception as e:
    print(f"❌ An unexpected error occurred: {e}")

✅ Data loaded successfully!

In [7]:
# Display basic information about the dataset
print("\n"+ "="*55)
print("\nShape of the dataset:", df.shape)
print("\n"+ "="*55)
print("\nOver view of the data: First 5 columns")
print("\n"+ "="*55)
display(df.head())
print("\n"+ "="*55)
print("\nDataset Information:")
print("\n"+ "="*55)
print(df.info())
print("\n"+ "="*55)
print("\nStatistical Summary:")
print("\n"+ "="*55)
display(df.describe().T)

=======================================================

Shape of the dataset: (50, 10)

=======================================================

Over view of the data: First 5 columns

=======================================================

,Farm_ID,Crop_Type,Farm_Area(acres),Irrigation_Type,Fertilizer_Used(tons),Pesticide_Used(kg),Yield(tons),Soil_Type,Season,Water_Usage(cubic meters)
0,F001,Cotton,329.40,Sprinkler,8.14,2.21,14.44,Loamy,Kharif,76648.20
1,F002,Carrot,18.67,Manual,4.77,4.36,42.91,Peaty,Kharif,68725.54
2,F003,Sugarcane,306.03,Flood,2.91,0.56,33.44,Silty,Kharif,75538.56
3,F004,Tomato,380.21,Rain-fed,3.32,4.35,34.08,Silty,Zaid,45401.23
4,F005,Tomato,135.56,Sprinkler,8.33,4.48,43.28,Clay,Zaid,93718.69

=======================================================

Dataset Information:

=======================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Farm_ID                    50 non-null     object
 1   Crop_Type                  50 non-null     object
 2   Farm_Area(acres)           50 non-null     float64
 3   Irrigation_Type            50 non-null     object
 4   Fertilizer_Used(tons)      50 non-null     float64
 5   Pesticide_Used(kg)         50 non-null     float64
 6   Yield(tons)                50 non-null     float64
 7   Soil_Type                  50 non-null     object
 8   Season                     50 non-null     object
 9   Water_Usage(cubic meters)  50 non-null     float64
dtypes: float64(5), object(5)
memory usage: 4.0+ KB
None

=======================================================

Statistical Summary:

=======================================================

,count,mean,std,min,25%,50%,75%,max
Farm_Area(acres),50.0,254.9638,139.417782,12.50,135.7100,281.980,368.1075,483.88
Fertilizer_Used(tons),50.0,4.9054,2.732689,0.50,2.4375,5.045,6.8850,9.96
Pesticide_Used(kg),50.0,2.3980,1.438613,0.14,0.9725,2.330,3.4175,4.99
Yield(tons),50.0,27.0592,13.345789,3.86,16.1900,28.970,37.8600,48.02
Water_Usage(cubic meters),50.0,56724.2956,27264.992053,5869.75,37818.1525,54097.075,82240.0325,94754.73

In [13]:
# Check for missing and duplicated values
print(f'\nMissing values: {df.isna().sum().sum()}')
print(f'\nDuplicated values: {df.duplicated().sum()}')
print("\n")

Missing values: 0

Duplicated values: 0

In [15]:
# Display the number of unique values in each column
print("\nUnique Values in Each Column:")
print(df.nunique())
print("\n")

Unique Values in Each Column:
Farm_ID                      50
Crop_Type                    10
Farm_Area(acres)             50
Irrigation_Type               5
Fertilizer_Used(tons)        49
Pesticide_Used(kg)           46
Yield(tons)                  50
Soil_Type                     5
Season                        3
Water_Usage(cubic meters)    50
dtype: int64

In [14]:
# Separate numerical and categorical columns
numerical_columns = df.select_dtypes(include=['int64', 'float64']).columns.tolist()
non_numerical_columns = df.select_dtypes(include=['object']).columns.tolist()

# Display the lists of numerical and categorical columns
print("\nNumerical Columns:", numerical_columns)
print("\nCategorical Columns:", non_numerical_columns)
print("\n")

Numerical Columns: ['Farm_Area(acres)', 'Fertilizer_Used(tons)', 'Pesticide_Used(kg)', 'Yield(tons)', 'Water_Usage(cubic meters)']

Categorical Columns: ['Farm_ID', 'Crop_Type', 'Irrigation_Type', 'Soil_Type', 'Season']

In [23]:
print("\n"+ "="*55)
print("\n3. Unique Value Exploration")
print("\n"+ "="*55)

=======================================================

3. Unique Value Exploration

=======================================================

In [16]:
# Display unique values for each categorical column
for col in non_numerical_columns:
    print(f"\nColumn: {col}")
    print(f"Unique Values: {df[col].unique()}")

Column: Farm_ID
Unique Values: ['F001' 'F002' 'F003' 'F004' 'F005' 'F006' 'F007' 'F008' 'F009' 'F010'
 'F011' 'F012' 'F013' 'F014' 'F015' 'F016' 'F017' 'F018' 'F019' 'F020'
 'F021' 'F022' 'F023' 'F024' 'F025' 'F026' 'F027' 'F028' 'F029' 'F030'
 'F031' 'F032' 'F033' 'F034' 'F035' 'F036' 'F037' 'F038' 'F039' 'F040'
 'F041' 'F042' 'F043' 'F044' 'F045' 'F046' 'F047' 'F048' 'F049' 'F050']

Column: Crop_Type
Unique Values: ['Cotton' 'Carrot' 'Sugarcane' 'Tomato' 'Soybean' 'Rice' 'Maize' 'Wheat'
 'Barley' 'Potato']

Column: Irrigation_Type
Unique Values: ['Sprinkler' 'Manual' 'Flood' 'Rain-fed' 'Drip']

Column: Soil_Type
Unique Values: ['Loamy' 'Peaty' 'Silty' 'Clay' 'Sandy']

Column: Season
Unique Values: ['Kharif' 'Zaid' 'Rabi']

In [20]:
df['Season'] = df['Season'].replace({
    "Kharif": "Monsoon",
    "Rabi": "Winter",
    "Zaid": "Summer"
})
print("\n")
print(df['Season'].unique())
print("\n")

['Monsoon' 'Summer' 'Winter']

In [22]:
print("\n"+ "="*55)
print("\n4. Exploratory Data Analysis (EDA)")
print("\n"+ "="*55)

=======================================================

4. Exploratory Data Analysis (EDA)

=======================================================